@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Robson&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Robson';
    src: url("./fonts/font_1.otf") format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Robson';
    src: url("./fonts/font_2.otf") format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Robson';
    src: url("./fonts/font_4.otf") format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Robson';
    src: url("./fonts/font_5.otf") format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Robson';
    src: url("./fonts/font_11.otf") format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Robson';
    src: url("./fonts/font_11.otf") format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Robson';
    src: url("./fonts/font_12.otf") format('opentype');
    font-weight: 600;
    font-style: normal;
}

.ticker {
    font-size: 15px;
    padding-block: 8px;
    border-block: 1px solid;
    overflow: hidden;
    user-select: none;
    display: flex;
    gap: 2px;
}




.ticker ul {
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    animation: scroll 180s linear infinite;
}

html {
    overflow-y: scroll;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-100% - 8px));
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}